<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"   >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- my_title %></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://checkout.stripe.com/checkout.js" defer></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <% if(typeof local_js == 'string' && local_js){ %>
        <script src="../js/<%=local_js%>" defer></script>
    <% } %>

    <% if(typeof local_css == 'string' && local_css){ %>
        <link rel="stylesheet" href="../css/<%=local_css%>">
    <% } %>

    <% if(typeof stripePublicKey == 'string' && stripePublicKey){ %>
        <script> var stripePublicKey = '<%=stripePublicKey%>' </script>
    <% } %>

    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/shoppingcart.css">
    
</head>
<body>